<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="Test1">
  	<parameter name="type" value="WEB_APP" />
    <classes>
      <class name="com.appium.demo.WebAppAppium"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
  	<parameter name="type" value="HYBRID_APP" />
    <classes>
      <class name="com.appium.demo.HybridAppAppium"/>
    </classes>
  </test>
</suite> <!-- Suite -->
